.table-weather {
  th {
    text-align: left;
    background-color: #e6e6e6;
    font-weight: normal;
  }
  td {
    text-align: center;
  }
}

.tw-month {
  color: #9a9a9a;
  font-size: 0.8125em;
  display: block;
}
