<table class="table table-weather">
  <tbody>
    <tr>
      <th colspan="12">
        Temperatura powietrza w dzień [°C]:
      </th>
    </tr>
    <tr>
      <td>
        <span class="tw-month">styczen</span>
        <span class="tw-temp">1</span>
      </td>
      <td>
        <span class="tw-month">luty</span>
        <span class="tw-temp">5</span>
      </td>
      <td>
        <span class="tw-month">marzec</span>
        <span class="tw-temp">12</span>
      </td>
      <td>
        <span class="tw-month">kwiecien</span>
        <span class="tw-temp">18</span>
      </td>
      <td>
        <span class="tw-month">maj</span>
        <span class="tw-temp">20</span>
      </td>
      <td>
        <span class="tw-month">czerwiec</span>
        <span class="tw-temp">24</span>
      </td>
      <td>
        <span class="tw-month">lipiec</span>
        <span class="tw-temp">27</span>
      </td>
      <td>
        <span class="tw-month">sierpień</span>
        <span class="tw-temp">24</span>
      </td>
      <td>
        <span class="tw-month">wrzesień</span>
        <span class="tw-temp">19</span>
      </td>
      <td>
        <span class="tw-month">październik</span>
        <span class="tw-temp">13</span>
      </td>
      <td>
        <span class="tw-month">listopad</span>
        <span class="tw-temp">6</span>
      </td>
      <td>
        <span class="tw-month">grudzień</span>
        <span class="tw-temp">2</span>
      </td>
    </tr>
    <tr>
      <th colspan="12">
        Temperatura powietrza w nocy [°C]:
      </th>
    </tr>
    <tr>
      <td>
        <span class="tw-month">styczen</span>
        <span class="tw-temp">-3</span>
      </td>
      <td>
        <span class="tw-month">luty</span>
        <span class="tw-temp">-3</span>
      </td>
      <td>
        <span class="tw-month">marzec</span>
        <span class="tw-temp">0</span>
      </td>
      <td>
        <span class="tw-month">kwiecien</span>
        <span class="tw-temp">4</span>
      </td>
      <td>
        <span class="tw-month">maj</span>
        <span class="tw-temp">7</span>
      </td>
      <td>
        <span class="tw-month">czerwiec</span>
        <span class="tw-temp">11</span>
      </td>
      <td>
        <span class="tw-month">lipiec</span>
        <span class="tw-temp">14</span>
      </td>
      <td>
        <span class="tw-month">sierpień</span>
        <span class="tw-temp">13</span>
      </td>
      <td>
        <span class="tw-month">wrzesień</span>
        <span class="tw-temp">10</span>
      </td>
      <td>
        <span class="tw-month">październik</span>
        <span class="tw-temp">5</span>
      </td>
      <td>
        <span class="tw-month">listopad</span>
        <span class="tw-temp">3</span>
      </td>
      <td>
        <span class="tw-month">grudzień</span>
        <span class="tw-temp">-2</span>
      </td>
    </tr>
    <tr>
      <th colspan="12">
        Temperatura wody [°C]:
      </th>
    </tr>
    <tr>
      <td>
        <span class="tw-month">styczen</span>
        <span class="tw-temp">10</span>
      </td>
      <td>
        <span class="tw-month">luty</span>
        <span class="tw-temp">9</span>
      </td>
      <td>
        <span class="tw-month">marzec</span>
        <span class="tw-temp">10</span>
      </td>
      <td>
        <span class="tw-month">kwiecien</span>
        <span class="tw-temp">13</span>
      </td>
      <td>
        <span class="tw-month">maj</span>
        <span class="tw-temp">18</span>
      </td>
      <td>
        <span class="tw-month">czerwiec</span>
        <span class="tw-temp">23</span>
      </td>
      <td>
        <span class="tw-month">lipiec</span>
        <span class="tw-temp">25</span>
      </td>
      <td>
        <span class="tw-month">sierpień</span>
        <span class="tw-temp">25</span>
      </td>
      <td>
        <span class="tw-month">wrzesień</span>
        <span class="tw-temp">23</span>
      </td>
      <td>
        <span class="tw-month">październik</span>
        <span class="tw-temp">19</span>
      </td>
      <td>
        <span class="tw-month">listopad</span>
        <span class="tw-temp">16</span>
      </td>
      <td>
        <span class="tw-month">grudzień</span>
        <span class="tw-temp">13</span>
      </td>
    </tr>

    <tr>
      <th colspan="12">
        Liczba godzin słonecznych [h]:
      </th>
    </tr>
    <tr>
      <td>
        <span class="tw-month">styczen</span>
        <span class="tw-temp">2</span>
      </td>
      <td>
        <span class="tw-month">luty</span>
        <span class="tw-temp">4</span>
      </td>
      <td>
        <span class="tw-month">marzec</span>
        <span class="tw-temp">6</span>
      </td>
      <td>
        <span class="tw-month">kwiecien</span>
        <span class="tw-temp">8</span>
      </td>
      <td>
        <span class="tw-month">maj</span>
        <span class="tw-temp">8</span>
      </td>
      <td>
        <span class="tw-month">czerwiec</span>
        <span class="tw-temp">11</span>
      </td>
      <td>
        <span class="tw-month">lipiec</span>
        <span class="tw-temp">9</span>
      </td>
      <td>
        <span class="tw-month">sierpień</span>
        <span class="tw-temp">7</span>
      </td>
      <td>
        <span class="tw-month">wrzesień</span>
        <span class="tw-temp">5</span>
      </td>
      <td>
        <span class="tw-month">październik</span>
        <span class="tw-temp">4</span>
      </td>
      <td>
        <span class="tw-month">listopad</span>
        <span class="tw-temp">3</span>
      </td>
      <td>
        <span class="tw-month">grudzień</span>
        <span class="tw-temp">3</span>
      </td>
    </tr>
  </tbody>
</table>